extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'index';

block eod
  script
    include ../javascripts/pages/index.js

block content
  main(class="container form-container")
    form(id="crawl-form" class="form" method="POST" action="/product")
      div(class="form-header")
        img(class="form-logo"  src="https://proxycrawl.com/assets/images/logo-header-a5c76faee5.png")
      div(class="form-control")
        input(type="text" name="token" placeholder="Proxy Crawl Token")
      div(class="form-control")
        input(type="text" name="url" placeholder="Amazon Product URL")
      p(id="crawl-form-error" class="form-error")

      input(class="btn-primary" type="submit")